@font-face{
font-family:"Yummo W01 Bold1444433";
src:url("yummo/2979cad7-fb6a-4f90-ac4f-81abeb1db5ee.eot?#iefix");
src:url("yummo/2979cad7-fb6a-4f90-ac4f-81abeb1db5ee.eot?#iefix") format("eot"),url("yummo/50d72a03-c1fa-44ec-9ab6-0ee701e22fad.woff2") format("woff2"),url("yummo/66596749-cc45-4323-95d3-7d9068159531.woff") format("woff"),url("yummo/d0f10cb0-269b-469e-939e-83f9f74b1d8e.ttf") format("truetype");
font-weight: 800;
font-style: normal;
}
